<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Gallery || {{ page_title }}</title>
<link rel="stylesheet" href="{{ static_path }}/lightboxgallery-min.css">
<link rel="stylesheet" href="{{ static_path }}/style.css">
<style>
body {
  background-color: #111;
  color: #EEE;
}
</style>
</head>
<body>

{% if dirs %}

<h3>Subdirectories:</h3>
<ul>
{% for dir in dirs %}
<li><a href="{{ dir }}/index.html">{{ dir }}</a></li>
{% endfor %}
</ul>

{% if items %}
<hr />

<h3>Images:</h3>
{% endif %}
{% endif %}

<div class="lightboxgallery-gallery clearfix">

{% for item in items %}
<a class="lightboxgallery-gallery-item" target="_blank" href="{{ item.thumbnail_large }}" data-title="{{ item.name }} (a::data-title)">
<div>
<img src="{{ item.thumbnail_small }}" title="{{ item.name }} (img::title)" alt="{{ item.name }} (img::alt)">
<div class="lightboxgallery-gallery-item-content">
<span class="lightboxgallery-gallery-item-title">{{ item.name }} <p href="#">Original: {{ item.path }}</p> (div::span)</span>
</div>
</div>
</a>
{% endfor %}

</div>

<script src="{{ static_path }}/jquery-3.4.1.min.js"></script>
<script src="{{ static_path }}/lightboxgallery-min.js"></script>
<script type="text/javascript">
jQuery(function($) {
$(document).on('click', '.lightboxgallery-gallery-item', function(event) {
  event.preventDefault();
  $(this).lightboxgallery({
    showCounter: true,
    showTitle: true,
    showDescription: true
  });
});
});
</script>

</body>
</html>
